body{		
	font-family: 'Tahoma',serif;
	font-size:30px;
	background: #95a5a6;
	margin: 0px;
    padding:0;
}
#logo {
	float: left;
	padding-top: 5px;
	padding-left: 15px;
}
#navbar{
	background-color:#ffff;
	font-size: 24px;
	text-align: right;
	padding-right: 15px;
	padding-top:2px;
	padding-bottom: 2px;
}
#navbar ul{
	list-style-type: none;
}
#navbar ul li{
	display: inline;
	margin-right: 20px;

}
#navbar ul li a{
	text-decoration: none;
	color:#555;
}
 #menu1{
	border-top:2px solid #3498db ;
}
#main{
	background-image:url(../img/main.png);
	height: 480px;
}
.font{
	
	margin-top:-35px; 
	text-align: center;	
    color:#ecf0f1;
}
#main,.font h2 p{
	padding-top: 160px;
}